[submodule "MCP-remotemanager"]
	path = MCP-remotemanager
	url = https://github.com/ljbeal/MCP-remotemanager.git
[submodule "2-aiengine/OntoFlow"]
	path = 2-aiengine/OntoFlow
	url = https://github.com/Yopla38/OntoFlow
